* {
    margin: 0;
    padding: 0;
}

body {
}

.header {
    width: 100%;
    background-color: white;
}

.header_title {
    position: fixed;
    width: 100%;
}

.header_title p {
        background: #000000;
        color: #fff;
        font-size: 14px;
        font-family: VinterVN-Regular;
        margin: auto;
        padding: 1px;
        text-decoration: none;
        text-align: center;
        line-height: 20px
    }

#item-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 50px;
}

#item-menu li {
    float: left;
    background-color: white;
    padding: 0 25px;
    text-align: center;
    margin-right: 0px;
    line-height: 50px;
}

  #item-menu li a {
        display: inline-block;
        text-decoration: none;
        color: black;
        box-sizing: border-box;
    }

#item-menu .sub-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: none;
    z-index: 9999;
    position: absolute;
    width: 100%;
    left: 0px;
    justify-content: space-between;
    background: #fff;
    height: 200px;
}

#item-menu li:hover > .sub-menu {
    display: flex;
}

#item-menu-right {
    float: right !important;
    display: flex;
    list-style-type: none;
    margin-right: 25px;
}

 #item-menu-right .menu-icon {
        height: 50px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
 }

 #item-menu-right .menu-icon i:hover {
            cursor: pointer;
  }

.sub-menu-item {
    height: 180px;
    z-index: 9999;
    display: flex;
    padding: 0px !important;
    width: 25%;
}

.sub-item-left {
    height: 180px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
}

.sub-item-right {
    height: 180px;
    width: 145px;
    justify-content: center;
    align-items: normal;
    text-align: left;
    width: 50%;
}

.sub-item-left img {
    height: 120px;
    width: 120px;
}

.sub-item-right li {
    list-style-type: none;
    width: auto;
    margin-top: 10px;
    line-height: 20px !important;
}

.sub-item-right > a {
    font-size: 20px;
    padding-left: 0px;
    color: blue;
}

.sub-item-right ul li a {
    font-size: 15px;
    display: block;
    padding-top: 5px;
}
.sub-item-left ul li {
    width: auto;
    height: auto;
    list-style-type: none;
}
.main {
    width: 100%;
    height: auto;
    position: static;
    display: flex;
}

.main-left {
    width: 20%;
    height: auto;
}

.rough-category {
    height: auto;
    justify-content: center;
    display: flex;
}

.category-title {
    align-items: center;
}

.main-left hr {
    width: 40%;
    margin: auto;
    border: 0;
    border-top: solid 1px #000;
    margin-bottom: 15px;
}
.main-right {
    width: 80%;
    height: auto;
    display: flex;
	
}
.left-content {
    height: auto;
}

.main-cat {
    padding-left: 15px;
    list-style-type: none;
    font-size: 20px;
}

    .main-cat li {
        margin-top: 15px;
        margin-left: 10px;
    }

    .main-cat:hover li {
        cursor: pointer;
    }

.mini-cat {
    list-style-type: none;
    font-size: 17px;
}

    .mini-cat > li a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: black;
    }

    .mini-cat a:hover {
        text-decoration: underline;
    }

.container {
    width: 100%;
    margin-top : 25px;
}

    .container .top {
        width: 60%;
        margin : auto;
    }

    .container .bottom {
        width: 100%;
        line-height: 10px;
    }
.left-container{
    width : 40%;
}
.right-container{
    width : 60%;
    margin-top : 20px;
}
.right-container .title{
    font-size : 24px;
    line-height : 35px;
}
    .right-container .code{
        margin : 10px 0px;
        line-height : 20px;
        font-size : 20px;
    }
        .right-container .price{
            font-size : 30px;
            font-weight : 600;
            color : red;
            margin : 20px 0px;
        }
.right-container img{
    width : 90%;
}
.right-container .size{
    margin-top : 40px;
    margin-left : 25px;
    display : flex;
    list-style-type : none;
}
.right-container .size span{
    padding : 15px 10px;
}
    .right-container .size-menu li {
        list-style-type: none;
        display: inline-block;
        min-width: 40px;
        border: 1px solid #eee;
        text-align: center;
        padding: 10px 0px;
        margin: 3px;
        cursor: pointer;
    }
    .right-container .size button {
        line-height: 40px;
        padding: 0px 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 2px #888888;
        cursor : pointer;
        font-size : 20px;
        margin : 10px;
        margin-bottom : 30px;
    }
.right-container .size-image li {
    list-style-type: none;
    display: inline-block;
    margin : 5px;
    cursor : pointer;
}
.right-container .size-image li img{
    width : 60px;
    height : 60px;
}
    .right-container .btnMua {
        margin-left : 100px;
        margin-top : 50px;
    }
.top .center {
    width: 200px;
    height: calc(100% - 10px);
    float: left;
    border: solid 5px white;
    border-radius: 5px;
    position: relative;
}
.bottom ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin : 0;
}
    .bottom ul li {
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: lightblue;
        border-radius: 50%;
        margin: 0px 2px;
        cursor: pointer;
    }
        .bottom ul li:hover {
            background-color: blue;
        }

        .bottom ul li.active {
            background-color: #4f654b;
        }
.top img {
    display: none;
    width: 100%;
    height: 380px;
    margin : auto;
}
    .top img.active {
        display: block;
    }

.footer {
    background-color: #1a1a1a;
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    margin-top: 12px;
}

.footer_left {
    background-color: #1a1a1a;
    width: 400px;
    height: 100%;
    float: left;
    line-height: 27px;
    margin-left: 10px;
    margin-bottom: 10px;
}

    .footer_left a {
        color: #f5f5ef;
        font-family: Arial;
        font-size: 14px;
    }

        .footer_left a hr {
            margin-right: 300px;
        }

.footer_mid {
    background-color: #1a1a1a;
    width: 500px;
    height: 100%;
    float: left;
    line-height: 27px;
    margin-left: 10px;
    margin-bottom: 10px;
}

    .footer_mid a {
        color: #f5f5ef;
        font-family: Arial;
        font-size: 14px;
    }

        .footer_mid a hr {
            margin-right: 400px;
        }

.footer_right {
    background-color: #1a1a1a;
    width: 400px;
    height: 100%;
    float: left;
    line-height: 27px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #f5f5ef;
}

    .footer_right a {
        color: #f5f5ef;
        font-family: Arial;
        font-size: 14px;
        text-decoration: none;
    }

    .footer_right hr {
        margin-right: 300px;
    }

    .footer_right .r_left {
        background-color: #1a1a1a;
        width: 130px;
        height: 460px;
        line-height: 27px;
        margin-top: 8px;
        float: left
    }

    .footer_right .r_right {
        background-color: #1a1a1a;
        width: 270px;
        height: 460px;
        float: left;
        line-height: 28px;
        margin-top: 10px;
    }

.footer_mid .imga {
    background-color: #1a1a1a;
    width: 270px;
    height: 50px;
    float: left;
    line-height: 27px;
    margin-left: 150px;
    margin-top: 310px;
}